[submodule "LKConfigs"]
	path = LKConfigs
	url = https://github.com/lksoft/LKConfigs.git
[submodule "MCCMailCommon/DLIntrospection"]
	path = MCCMailCommon/DLIntrospection
	url = https://github.com/lksoft/DLIntrospection.git
[submodule "MCCMailCommon/AsyncTests"]
	path = MCCMailCommon/AsyncTests
	url = https://github.com/iheartradio/xctest-additions.git
[submodule "MCCMailCommon/LumberJack"]
	path = MCCMailCommon/LumberJack
	url = https://github.com/lksoft/CocoaLumberjack.git
[submodule "MCCMailCommon/Reachability"]
	path = MCCMailCommon/Reachability
	url = git@github.com:lksoft/Reachability.git
