[submodule "LKConfigs"]
	path = LKConfigs
	url = https://github.com/lksoft/LKConfigs.git
[submodule "MCCMailCommon/DLIntrospection"]
	path = MCCMailCommon/DLIntrospection
	url = https://github.com/lksoft/DLIntrospection.git
