[submodule "LKConfigs"]
	path = LKConfigs
	url = git@github.com:lksoft/LKConfigs.git
[submodule "MCCMailCommon/DLIntrospection"]
	path = MCCMailCommon/DLIntrospection
	url = https://github.com/lksoft/DLIntrospection.git
[submodule "MCCMailCommon/AsyncTests"]
	path = MCCMailCommon/AsyncTests
	url = https://github.com/iheartradio/xctest-additions.git
