<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>10.7</key>
		<string>MailDelivery</string>
		<key>10.8</key>
		<string>MailDelivery</string>
		<key>10.9</key>
		<string>MFMailDeliverer</string>
	</dict>
	<dict>
		<key>10.7</key>
		<string>SMTPDelivery</string>
		<key>10.8</key>
		<string>SMTPDelivery</string>
		<key>10.9</key>
		<string>MFSMTPDeliverer</string>
	</dict>
	<dict>
		<key>10.7</key>
		<string>EWSDelivery</string>
		<key>10.8</key>
		<string>EWSDelivery</string>
		<key>10.9</key>
		<string>MFEWSDeliverer</string>
	</dict>
	<dict>
		<key>10.7</key>
		<string>MailDocumentEditor</string>
		<key>10.8</key>
		<string>MailDocumentEditor</string>
		<key>10.9</key>
		<string>DocumentEditor</string>
	</dict>
</array>
</plist>
